# .dockerignore
.venv
__pycache__/
*.pyc
.git
.gitignore
.env
.env.*
certbot/
ssl/
# --- ignore secrets / certbot stuff ---
certbot/
infra/nginx/certbot/
ssl/
*.pem
*.key
*.crt
*.der
__pycache__/
.venv/
node_modules/
.git/
